.field--name-field-event-date {
  @include px-to-rem(14);
  @include px-to-rem(20, margin-bottom);
  color: $gray-700;
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

.block-entity-fieldnodefield-event-image {
  @include px-to-rem(20, margin-bottom);
}