{#
/**
 * @file
 * Default theme implementation to display the themes header.
  */
#}
{{ attach_library('glenville/multi-level-push-menu') }}

<!-- mp-menu -->
<nav id="mp-menu" class="mp-menu">
  <div class="mp-level p-4">
    {{ page.mobile_menu }}
  </div>
</nav>
<!-- /mp-menu -->